version: "2"
services:
  rabbit:
    container_name: twitter-stream-rabbitmq
    image: rabbitmq:3.7-management
    ports:
        - "15673:15672"
    restart: always

  redis:
    container_name: twitter-stream-redis
    image: redis
    ports:
      - "6380:6379"
    command: [
      "bash", "-c",
      '
         docker-entrypoint.sh
         --requirepass password
        '
    ]
    restart: always

  listener:
    container_name: twitter-stream-listener
    build:
      context: listener
    depends_on:
      - rabbit
    ports:
        - "8001:8000"
    links:
        - "rabbit:twitter-stream-rabbitmq"
    environment:
        CONSUMER_KEY: 'VAXeIbbL824ekd9Gx5e3Gw2e8'
        CONSUMER_SECRET: 'Ft2xJ9nrmjkthvsDVxr5Uq0LiJVkABbrPZj3FqhS5OVexIt3Ah'
        ACCESS_TOKEN: '1356346947708346368-EVeMjQsC7nnDfNVrfOp5hcUQ94Em8C'
        ACCESS_TOKEN_SECRET: 'y94fjQoyXytokao9e8bZsfo0kQJJV1hVENu134pDnPEPS'
        RABBIT_PASSWORD: "guest"
        RABBIT_USER: "guest"
        RABBIT_HOST: "rabbit"
        RABBIT_PORT: "5672"
        RABBIT_MANAGEMENT_PORT: "15672"

  logger:
    container_name: twitter-stream-logger
    build:
      context: logger
    depends_on:
      - rabbit
    ports:
        - "8002:8000"
    links:
        - "rabbit:twitter-stream-rabbitmq"
    environment:
        RABBIT_PASSWORD: "guest"
        RABBIT_USER: "guest"
        RABBIT_HOST: "rabbit"
        RABBIT_PORT: "5672"
        RABBIT_MANAGEMENT_PORT: "15672"

  statistics:
    container_name: twitter-stream-statistics
    build:
      context: statistics
    depends_on:
      - rabbit
      - redis
    ports:
        - "8003:8000"
    links:
        - "rabbit:twitter-stream-rabbitmq"
        - "redis:twitter-stream-redis"
    environment:
        REDIS_HOST: "redis"
        REDIS_PORT: "6379"
        REDIS_INDEX: "11"
        REDIS_PASSWORD: "password"
        RABBIT_PASSWORD: "guest"
        RABBIT_USER: "guest"
        RABBIT_HOST: "rabbit"
        RABBIT_PORT: "5672"
        RABBIT_MANAGEMENT_PORT: "15672"
